extends ../layouts/default.jade

block content
  #board_container
  //switch to app.min.js for production
  if 'production' == env
    script(src='../build/app.min.js')
  else
    script(src='../build/app.js')
